# System
.DS_Store
.vscode
# IDE config
/.idea

# Generated
/.jshintignore
/.jshintrc
/dist
npm-debug.log
node_modules
*.pyc
# Typings
*.ts

venv

# Temporary Files and Backups
*.swp
*.*~
package-lock.json

*.pyc
